<h3>servers-show.hbs calling server-item component!</h3>
{{server-item server=model}}

<h3>Here is where we would like to save</h3>

  <div class="pull-right">

    {{#if model.server.isNew}}
      {{d-button label="pfaffmanager.server.create" action="createServer" icon="plus" class="btn btn-primary"}}
    {{else}}
      {{d-button label="pfaffmanager.server.update" action="updateServer" icon="check" class="btn btn-primary"}}
    {{/if}}
  </div>
