<form>
{{server-item server=model}}
  <div class="pull-right">
      {{d-button label="pfaffmanager.server.update" action="updateServer" icon="check" class="btn btn-primary"}}
  </div>
  <div class="pull-right">
      {{d-button label="pfaffmanager.server.do_create" action="dropletCreate" icon="plus" class="btn btn-primary"}}
  </div>
</form>
