<h3>servers-show.hbs calling server-item component!</h3>
<form>
{{server-item server=model}}
</form>
  <div class="pull-right">
    {{#if model.isNew}}
      {{d-button label="pfaffmanager.server.create" action="createServer" icon="plus" class="btn btn-primary"}}
    {{else}}
      {{d-button label="pfaffmanager.server.update" action="updateServer" icon="check" class="btn btn-primary"}}
    {{/if}}
  </div>
