.pfaffmanager {
  .warning {
    color: red;
  }
  .ready {
    color: green;
  }
  .installed-server-status {
    color: yellow;
  }
  .has-status {
    color: blue;
    .status-missing {
      color: purple;
    }
    .status-present {
      color: orangered;
    }
  }
  .status-header {
    margin-top: 14pt;
    margin-bottom: 1pt;
    font-size: large;
    font-weight: bold;
  }
}

.pfaffmanager-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 10px;
      color: blue; //var(--header_primary);
      font-size: $font-up-1;
    }
  }
  .new-server {
    a {
      color: red !important;
    }
    a:before {
      font-size: initial;
      content: "NEW! ";
    }
  }
  .unconfigured {
    a {
      font-size: 0;
    }
    a:after {
      content: "configure me!";
      color: purple;
      font-size: initial;
    }
  }
}
