.pfaffmanager {
  .warning {
    color: red;
  }
  .ready {
    color: green;
  }
  .installed-server-status {
    color: yellow;
  }
  .has-status {
    color: blue;
    .status-missing {
      color: purple;
    }
    .status-present {
      color: orangered;
    }
  }
  .status-header {
    margin-top: 14pt;
    margin-bottom: 1pt;
    font-size: large;
    font-weight: bold;
  }
}
